#drake{
    width:400px;
    height: 800px;
    
}

img{
width: 200px;
height: 300px;
}

#closet {
padding: 5px;
background-color: lightblue;

}

#avatar {
}

#shirt{
    z-index: 1;
    
    
}

#pants{
    z-index:-1;
    
    
}
#ariana{
    width: 400px;
    height: 800px;
}
#big{
    height: 500px;
    width: 400px;
    transform: rotate(7.5deg);
    
}
#ari{
    width: 200px;
}
#arina{
    width:250px;
    height:300px;
}
#bl{
    height:200px;
}
#jupe{
    width:90px;
    height:110px;
}
#piedd{
    width:100px;
    height:100px;
}
#bidon{
    width:80px;
    height:150px;
}